<div id="contents">
	<div class="box">
		<div>
			<div class="body">
				<h1>Travel</h1>
				<ul id="sites">
					{{#each trips}}
						{{> trip-card}}
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>
